:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: darkgray;
}

.no_ini img {
    width: 150vh;
    height: 70vh;
}

a {
    text-decoration: none;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(16, 8, 90);
}

.cabecera {
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin-top: 0;
    margin-right: 0;
    padding: 4vh;
    margin-bottom: 2vh;
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cabecera img {
    width: 15vh;
    height: 15vh;
}

.login {
    background-color: beige;
    width: 25vh;
    padding: 2vh;
}

.contenido {
    display: flex;
}

.tabla_doctores {
    width: 150vh;
    margin-left: 10vh;
    background-color: beige;
    padding: 4vh;
}

.tabla_doctores table {
    border: 2px solid black;
    width: 70%;
    background-color: beige;
    font-size: 3vh;
}

.tabla_doctores td {
    padding: 2vh;
    border-bottom: 1px solid black;
}

.info {
    width: 150vh;
    margin-left: 10vh;
    background-color: beige;
    padding: 3vh;
    font-size: 3vh;
}